<body>
 <main>
  
  <h1>ようこそBookersへ！</h1>
  <P>Bookers では、さまざまな書籍に関するあたなたの意見や</p>
  <p>印象を共有し交換することができます</P>

   <p>
   <%= link_to 'start' ,'https://a41fabcec7f540bcb4f5ad9b3f6aedc4.vfs.cloud9.us-east-1.amazonaws.com/books' %>
   </p>
 </main>
</body>